@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:wght@100;200;300;400;500;600;700&display=swap");

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Header Styles
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 10rem;
  background-color: rgba(33, 3, 56, 0.4);
  border-bottom: 2px solid white;
  position: fixed; /* Change from sticky to fixed */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Ensures it stays above other elements */
}
.icons {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin-bottom: 1.7rem;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;

  a {
    font-size: 1.2rem;
    margin-bottom: 1.7rem;
  }
}
// Animation Background Section
#animation-bg {
  overflow: hidden;
  font-family: "Victor Mono", monospace;
  height: 100%;
  color: rgb(232, 231, 226);
  text-align: center;
  height: 100vh;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 14rem 10rem;
  letter-spacing: 0.7rem;

  .text {
    animation: textDown 4s ease;
    text-align: center;
    align-items: center;

    p {
      font-size: 30px;
      margin-bottom: 1.7rem;
    }

    h1 {
      font-size: 70px;
      margin-bottom: 1.7rem;
    }
  }
}

// Link Styles
a {
  text-decoration: none;
  color: rgb(232, 231, 226);
  font-size: 2rem;
  border-radius: 50%;
  padding-left: 1.3rem;

  &:hover {
    opacity: 0.9;
  }
}

// Keyframes for Animation
@keyframes textDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

// Media Queries
@media only screen and (max-width: 700px) {
  .text {
    text-align: center;
  }

  .container {
    letter-spacing: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 25px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 15px;
  }

  .container {
    align-items: center;
  }
}

@media only screen and (max-width: 350px) {
  .text {
    align-items: center;
  }

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }

  .container {
    align-items: center;
  }
}
